.reservations-detail--grid{
    font-size: 27px;
    margin: 5%;
}

.reservations-detail--container{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid;
    margin: 3%;
}

.reservations-detail--label {
    background: #ffff;
    width: 25%;
    margin-bottom: 3%;
    font-weight: bold;
 }

 .reservations-detail--data {
    width: 65%;
    word-wrap: break-word;
    background: #ffff;
    margin-bottom: 3%;
 }

 .reservations-detail--button {
    width: 90px;
    height: 50px;
    border: 1px solid #1a73e8;
    background: #1a73e8;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
 }
 
 .reservations-detail--button:hover{
   background: #447fdd;
   border: 1px solid #447fdd;
 }


 .reservations-detail--back {
    display:inline-block;
    padding: 6px 12px;
    margin: 0.5%;
    border: 1px solid #1a73e8;
    background: #1a73e8;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;

 }

 .reservations-detail--back:hover{
   background: #447fdd;
   border: 1px solid #447fdd;
 }


 .reservations-detail--link {
   text-decoration: none;
   color:#1a73e8;
 }