.room-add-container{
    margin-bottom: 10px;
}


.rooms-add-form-item-buttons{
    text-align: right;
    margin-right: 40%;
}


.room-add-form-opener,
.rooms-add-form__item-delete-button,
.rooms-add-form__item-submit{
    margin-bottom: 2px;
    margin-right: 2px;
    height: 20%;
    width: 150px;
    font-size: 2em;
}

.rooms-add-form__item-submit{
}

.rooms-add-form__item-input{
    font-size: 2em;
    height: 80px;
    width: 60%; 
    margin-bottom: 2px;
}

.rooms-add-form__item-textarea{
    padding: 5px;
    font-size: 2em;
    height: 300px;
    width: 60%;
    resize: none;
}