.monthly-calendar {
  padding-left: 2%;
  padding-right: 2%;
  --monthly-calendar--row-height: 70px;
  --monthly-calendar--divider-color: #94989e;
  position: relative;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: bold;
}

.monthly-calendar--header {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--monthly-calendar--divider-color);
  background: #fff;
}

.monthly-calendar--header-month-switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monthly-calendar--header-month {
  text-align: center;
  font-size: 1.6rem;
  padding: 15px 15px;
}

.monthly-calendar--header-month-switch-button {
}

.monthly-calendar--header-room {
  display: flex;
  height: var(--monthly-calendar--row-height);
}

.monthly-calendar--time-spacer {
  flex: 0 0 auto;
  width: 5%;
}

.monthly-calendar--room-label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  font-size: 20px;
  line-height: 1em;
}

.monthly-calendar--body {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: stretch;
}

.monthly-calendar--times {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  z-index: 2;
  width: 5%;
  border-right: 1px solid #94989e;
  background: #fff;
  box-sizing: border-box;
}

.monthly-calendar--time {
  position: relative;
  height: var(--monthly-calendar--row-height);
  top: -6px;
  font-size: 12px;
  line-height: 1em;
}

.monthly-calendar--room-columns {
  flex: 1;
  display: flex;
  justify-content: stretch;
}

.monthly-calendar--room-column {
  width: 20%;
  border-right: 1px solid var(--monthly-calendar--divider-color);
}

.monthly-calendar--cell {
  position: relative;
  height: var(--monthly-calendar--row-height);
  border-bottom: 1px solid var(--monthly-calendar--divider-color);
  background: #fafafa;
}

.monthly-calendar--reservation-item {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  min-height: 2em;
  padding: 0 8px;
  border-radius: 6px;
  background: #447fdd;

  color: #fafafa;
  font-size: 12px;
  line-height: 2em;
  font-weight: bold;
}
