.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  align-items: center;

  height: 48px;
  padding: 0 16px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background: #fff;
}

.header * {
  box-sizing: border-box;
}

.header__spacer {
  padding-bottom: 48px;
}

.header__logo {
  margin-right: 48px;

  color: #334155;
  font-size: 16px;
  font-weight: bold;
}

.header__link,
.header__link:visited,
.header__link:hover {
  display: flex;
  align-items: center;

  height: 48px;
  margin-right: 16px;
  padding: 2px 16px 0;
  border-bottom: 2px solid transparent;

  color: #334155;
  font-size: 16px;
  text-decoration: none;
}

.header__link:hover {
  border-bottom-color: #334155;
}

.header__link.active {
  border-bottom-color: #334155;
  font-weight: bold;
}

.header__flex-spacer {
  flex: 1;
}

.header__reserve-btn {
  padding: 6px 12px;
  border-radius: 4px;
  background: #1a73e8;
  border: 1px solid #1a73e8;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.header__reserve-btn:hover{
  background: #447fdd;
  border: 1px solid #447fdd;
}