/* 選択されたとき */
/* 選択は下のバーの色を変える */
/* 入力は背景の色を変える */

.page {
  margin: 1% 5% 5% 5%;
}

/*　入力フォームの文字のフォント */
.reserve--event-label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

C {
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
}

b {
  font-size: 5em;
}

h2 {
  font-size: 3.5em;
  margin-bottom: auto;
}

.reserve--time-label {
  font-size: 18px;
  text-align: center;
  margin-left: 15px;
  margin-right: 5px;
  font-weight: bold;
}

.reserve--upper-grid {
  display: flex;
}

.reserve--upper-grid-roomname{
  height: 30%;
  width: 50%;
}

/* SAVEボタン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
.reserve-saveButton,
a.reserve-saveButton,
button.reserve-saveButton {
  margin: 20px 0 0 0px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  border: 1px solid #585858;
}
.reserve-saveButton,
a.reserve-saveButton {
  color: #fff;
  background-color: #fafafa;
}
.reserve-saveButton:hover,
a.reserve-saveButton:hover {
  color: rgb(0, 0, 0);
  background: #d6d6d6;
}

.reserve--upper-calendar {
  height: 15%;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.reserve--upper-DAY {
  height: 15%;
  width: 60%;
  display: flex;
}

/* 時計 */
.reserve-time {
  width: 100px;
  height: 15px;
  padding: 8px 16px;
  background: #fafafa;
  border: 1px solid #585858;
  outline: none;
}

/* カレンダー */
.reserve-date {
  background: #fafafa;
  border: 1px solid #585858;
  outline: none;
}

/* 繰り返し  */
.ipselect {
  position: relative;
  width: 30%;
  text-align: center;
  margin-left: 20px;
}

.SB {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.SB:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.ipselect .SB {
  appearance: none;
  -webkit-appearance: none;
}
.ipselect select::-ms-expand {
  display: none;
}
.ipselect:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.SB_selectlabel {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}
.SB:focus ~ .SB_selectlabel,
.SB:valid ~ .SB_selectlabel {
  color: #bbb9a5;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}
.SB_selectbar {
  position: relative;
  display: block;
  width: 100%;
}
.SB_selectbar:before,
.SB_selectbar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #bbb9a5;
  transition: 0.2s ease all;
}
.SB_selectbar:before {
  left: 50%;
}
.SB_selectbar:after {
  right: 50%;
}
.SB:focus ~ .SB_selectbar:before,
.SB:focus ~ .SB_selectbar:after {
  width: 50%;
}
.SB_highlight {
  position: absolute;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* ーーーーーーーーーーー */
/* 予約者詳細入力 */
/* ーーーーーーーーーーー */

.reserve--event-grid {
  height: auto;
  width: 100%;
  display: flex;
}

.flexbox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.reserve--event-form {
  display: flex;
}

.reserve--event-user {
  height: auto;
  width: 50%;
}

.reserve--event-guest {
  height: auto;
  width: 50%;
}

.reserve--event-usertitle {
  height: 10%;
}

.reserve-line {
  width: 50%;
  text-align: left;
  margin-left: 0px;
  margin-right: 300px;
}

.reserve-line2 {
  width: 60%;
  text-align: left;
  margin-left: 0px;
  margin-right: 300px;
}

/* 入力フォーム */
.reserve-time,
.reserve-date {
  height: 40px;
}

reserve-time

input:focus {
  background: #ffffff;
}

.reserve--event-input {
  font-size: 2em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  border: 1px solid #585858;
  background: #fafafa;
  color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
}
::-webkit-input-placeholder {
  color: #4e4e4e;
}
:-moz-placeholder {
  color: #fafafa;
}
::-moz-placeholder {
  color: #fafafa;
}
:-ms-input-placeholder {
  color: #fafafa;
}

/* テキストエリア */
.reserve--event-textarea,
.reserve--event-guesttextarea {
  font-size: 2em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  background: #ffffff;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #585858;
  line-height: 1.6;
  resize: none;
}
.reserve--event-textarea:focus {
  background: #ffffff;
}
.reserve--event-guesttextarea:focus {
  background: #ffffff;
}

.reserve--event-guesttextarea {
  width: 80%;
}

.reserve--event-textarea {
  width: 80%;
}
