.room-management-page-line{
    width: 50%;
    margin: 0px;
}

.rooms-title{
    font-size: 45px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.rooms-item{
    margin: 0  40px 40px 40px;
}

.room-list-erea{
    width: 60%;
}
