.reservations-daily--date-switch-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservations-daily--date{
  text-align: center;
  font-size: 1.6rem;
  padding: 15px 15px;
}

.reservations-daily--date-switch-button {
}

